<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to 'New Article', new_article_path, class: 'btn btn-success' %>
<% end %>
<hr>

<% @articles.each do |article| %>
  <div class="article">
    <h1 class="article-heading"><%= article.title %></h1>
    <div class="article-edit">
      <%= link_to '', edit_article_path(article), class: 'fa fa-pencil-square-o' %>
      <%= link_to '', article, class: 'fa fa-trash-o', method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="well">
      <p><%= article.content %></p>
    </div>
  </div>
<% end %>
